VBox, HBox {
    -fx-spacing: 10;
}

.padding-pane {
    -fx-padding: 10;
}

.split-pane {
    -fx-background-insets: 0, 0;
}

.split-pane-divider {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.table-row-cell {
    -fx-cell-size: 20;
    -fx-font-size: 0.9em;
}

.progress-bar {
    -fx-min-height: 20;
    -fx-max-width: Infinity;
}

.console {
    -fx-font-family: Consolas;
    -fx-text-fill: #555555;
}

.number-column {
    -fx-alignment: CENTER-RIGHT;
}

.control-pane Button {
    -fx-background-size: 16 16;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 6 50%;
    -fx-padding: 6 6 6 28;
    -fx-min-width: 85;
    -fx-alignment: CENTER-LEFT;
}
